<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imed">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.IMed">
        <activity android:name=".Views.TelasFarm.TelaFarmaceuticoApresentacaoReceita"></activity>
        <activity android:name=".Views.TelasMed.TelaMedicoCriarConta" />
        <activity android:name=".Views.TelasFarm.TelaFarmaceuticoCriarConta"/>
        <activity android:name=".Views.TelasPaciente.TelaPacienteExaminarReceita" />
        <activity android:name=".Views.TelasMed.TelaMedicoGerarReceita" />
        <activity android:name=".Views.TelasFarm.TelaFarmaceuticoChecarReceita" />
        <activity android:name=".Views.TelasPaciente.TelaPacienteInicio" />
        <activity android:name=".Views.TelasFarm.TelaFarmaceuticoInicio" />
        <activity android:name=".Views.TelasMed.TelaMedicoInicio" />
        <activity android:name=".Views.TelasPaciente.TelaPacienteCriarConta" />
        <activity android:name=".Views.TelasFarm.TelaFarmaceuticoLogin" />
        <activity android:name=".Views.TelasMed.TelaMedicoLogin" />
        <activity android:name=".Views.TelasPaciente.TelaPacienteLogin" />
        <activity android:name=".Views.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>