<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.imed">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.IMed">
        <activity android:name=".Views.TelasFarm.tela_farmaceutico_apresentacao_receita"></activity>
        <activity android:name=".Views.TelasMed.tela_medico_criar_conta" />
        <activity android:name=".Views.TelasFarm.tela_farmaceutico_criar_conta"/>
        <activity android:name=".Views.TelasPaciente.tela_paciente_examinar_receita" />
        <activity android:name=".Views.TelasMed.tela_medico_gerar_receita" />
        <activity android:name=".Views.TelasFarm.tela_farmaceutico_checar_receita" />
        <activity android:name=".Views.TelasPaciente.tela_paciente_inicio" />
        <activity android:name=".Views.TelasFarm.tela_farmaceutico_inicio" />
        <activity android:name=".Views.TelasMed.tela_medico_inicio" />
        <activity android:name=".Views.TelasPaciente.tela_paciente_criar_conta" />
        <activity android:name=".Views.TelasFarm.tela_farmaceutico_login" />
        <activity android:name=".Views.TelasMed.tela_medico_login" />
        <activity android:name=".Views.TelasPaciente.tela_paciente_login" />
        <activity android:name=".Views.Main.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>